.go-card {
    font-family: sans-serif;
    padding: 20px;
    border: 2px solid #535353;
    border-radius: 10px;
    background-color: #ffffff;
}

h1,
h2 {
    color: #000000;
    text-align: center;
}

.board-base {
    --board-size: 19;
    --scope-size: 13;
    --cell-size: 29px;
    --offset: 2px;
    width: calc(var(--cell-size) * var(--scope-size) + var(--offset) * 2);
    height: calc(var(--cell-size) * var(--scope-size) + var(--offset) * 2);
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: #ffffff;
}

.line-grid {
    display: grid;
    grid-template-columns: repeat(
        calc(var(--board-size) - 1),
        var(--cell-size)
    );
    grid-template-rows: repeat(calc(var(--board-size) - 1), var(--cell-size));

    border: 1px solid #000000;
    width: max-content;
    padding: 0 1px 1px 0;
    margin: calc(var(--cell-size) / 2 - 0.5px - 1px + var(--offset));
    position: absolute;
}

.line-cell {
    width: calc(var(--cell-size) + 1px);
    height: calc(var(--cell-size) + 1px);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
    transform: translate(-2px, -2px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--board-size), var(--cell-size));
    grid-template-rows: repeat(var(--board-size), var(--cell-size));
    margin: var(--offset);

    width: max-content;
    position: absolute;
}

.catcher {
    position: absolute;
    margin: var(--offset);
    width: calc(var(--board-size) * var(--cell-size));
    height: calc(var(--board-size) * var(--cell-size));
    z-index: 10;
}

.stone {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 50%;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #ffffff;
}

.ui-base {
    --ui-width: calc(var(--cell-size) * var(--scope-size) + var(--offset) * 2);
    width: var(--ui-width);
    position: relative;
    margin: 10px auto;
    background-color: #ffffff;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 4px;
    justify-content: center;
}

.branches-container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 4px;
}

.button {
    display: inline-block;
    width: 50px;
    margin: 2px 4px;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.button.ana {
    height: 19px;
    color: #ffffff;
    background-color: #000000;
}

.button.ans {
    height: 22px;
    color: #000000;
    background-color: #ffffff;
}

.button.ans.branch {
    width: 40px;
    height: 19px;
    transform: translate(5px, 3px);
}

.button:hover {
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(0);
}

.button.ana:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button.ans:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.label {
    width: var(--cell-size);
    aspect-ratio: 1;
    align-items: center;
    overflow: hidden;
}

.label-text {
    color: #000000;
    background-color: #ffffff;
}

.label-text.onB {
    color: #ffffff;
    background-color: none;
}

.label-text.onW {
    background-color: none;
}

.triangle {
    --b: 4px;
    width: calc(var(--cell-size) * cos(30deg));
    transform: translate(calc((var(--cell-size) - 100%) / 2), 1.5px);
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0);
    background-color: #000000;
}

.triangle.inner {
    transform: none;
    clip-path: polygon(
        50% var(--b),
        calc(var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
        calc(100% - var(--b) * cos(30deg)) calc(100% - var(--b) / 2),
        50% var(--b)
    );
    background-color: #ffffff;
}

.square {
    --b: 2px;
    --m: 5px;
    width: calc(var(--cell-size) - var(--m) * 2);
    aspect-ratio: 1;
    background-color: #ffffff;
    border: var(--b) solid #000000;
    box-sizing: border-box;
    transform: translate(var(--m), var(--m));
}

.square.onB {
    background-color: #000000;
    border-color: #ffffff;
}

.pointer-wrapper {
    width: var(--cell-size);
    aspect-ratio: 1;
    z-index: 20;
}

.pointer {
    --b: 1px;
    --m: 6px;
    position: absolute;
    width: calc(var(--cell-size) - var(--m) * 2);
    transform: translate(var(--m), var(--m));
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #5dd445;
    border: var(--b) solid #ffffff;
    box-sizing: border-box;
}

.pointer.ans {
    background-color: #8ddb7e;
}

.pointer-wrapper.hover-state .pointer.ans {
    background-color: #00b600;
}

.pointer.branch {
    background-color: #b8b8b8;
}

.pointer-wrapper.hover-state .pointer.branch {
    background-color: #313131;
}

.pointer.last-move {
    border: none;
}

.pointer.last-move.onW {
    --m: 9px;
    background-color: #000000;
}

.pointer.last-move.onB {
    --m: 10px;
    background-color: #ffffff;
}

.label {
    width: var(--cell-size);
}

.label.onW {
    color: #000000;
}

.label.onB {
    color: #ffffff;
}
